.container {
  border: 1px solid black;
  width: 500px;
  margin: 150px auto;
  padding: 15px;
  background-color: rgb(213, 154, 45);
  border-radius: 5px;
}
.container span {
  display: flex;
  justify-content: space-between;
}
h1 {
  text-align: center;
  margin-top: 0px;
}
#checkboxContainer,
.taxContainer {
  display: flex;
}
p {
  padding: 0 10px;
}
button {
  width: 150px;
  color: white;
  background-color: #3d086f;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 200px;
}

input[type="text"] {
  width: 150px;
}
